client-app/nbproject/private/
client-app/build/
client-app/nbbuild/
client-app/dist/
client-app/nbdist/
client-app/nbactions.xml
client-app/nb-configuration.xml
client-app/.nb-gradle/

# CakePHP Ignores

admin-app/vendor/*
admin-app/config/app.php
admin-app/tmp/cache/models/*
admin-app/!/tmp/cache/models/empty
admin-app/tmp/cache/persistent/*
admin-app/!/tmp/cache/persistent/empty
admin-app/tmp/cache/views/*
admin-app/!/tmp/cache/views/empty
admin-app/tmp/sessions/*
admin-app/!/tmp/sessions/empty
admin-app/tmp/tests/*
admin-app/!/tmp/tests/empty
admin-app/logs/*
admin-app/!/logs/empty
admin-app/app/tmp/*
admin-app/app/Config/core.php
admin-app/app/Config/database.php
admin-app/vendors/*

# php-api

php-methods/config.ini