<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coolappz.energy_diary" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>energydiary</name>
    <description>
        Learning Energy Systems Project description. University of Edinburgh
    </description>
    <author email="h.mehrpouya@ed.ac.uk" href="http://hadi.link">
        Learning Energy Systems Project. University of Edinburgh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
</widget>
